body {
  background: #525252;
  font-family: 'Roboto', sans-serif;
  color: white;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: 48px;
  text-align: center;
}

p {
  font-size: 24px;
  text-align: center;
  line-height: 2em;
  font-weight: 300;
}

b {
  display: block;
  font-weight: 800;
}

form {
  display: flex;
  flex-direction: column;
}

form input {
  width: 800px;
}

form input[type="text"] {
  margin-bottom: 20px;
  padding: .6rem;
  font-size: 18px;
  border-radius: 5px;
  outline: none;
  border: none;
}

form input[type="submit"] {
  width: 100%;
  padding: .6rem;
  color: white;
  font-size: 18px;
  cursor: pointer;

  background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  

  outline: none;
  border: none;
  border-radius: 5px;
}

.thumb-container {
  display: none;
}

.thumb-container.active {
  display: block;
}

.thumb-container h2 {
  text-align: center;
  font-weight: 800;
  font-size: 32px;
}

.thumb-container img {
  width: 800px;
  height: 600px;
}